
.cuadrado {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 10px;
    border: solid 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 22px 35px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}
.cuadrado:hover{
    border: solid 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 22px 35px rgba(0, 0, 0, 0.5);
}

#container {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
